<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/estilo.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Oswald&display=swap" rel="stylesheet">

    <title>Quiz do thithi</title>
</head>

<body>
    <header class="container">
        <nav>
            <p>ThizzFeed
                <img class="logo-img" src="/images/thizzfeedlogo.png" alt="logo">
            </p>
        </nav>

        <h1>Descubra qual Mimi é você:</h1>
        <p>Existem varias Mimi's que eu amo, descubra qual delas você é.</p>
    </header>

    <form method="POST">
        <div id="1" class="container">
            <h2>Primeiro, diga um Sentimento:</h2>
            <div class="pergunta">
                <div class="alternativa">
                    <label for="radio">
                        <span>Amor</span>
                    <input type="radio" name="p1" value="a">
                </label>
                </div>
                <div class="alternativa">
                    <label for="radio">Raiva</label>
                    <input type="radio" name="p1" value="b">
                </div>
                <div class="alternativa">
                    <label for="radio">Ciúmes</label>
                    <input type="radio" name="p1" value="c">
                </div>
                <div class="alternativa">
                    <label for="radio">Felicidade</label>
                    <input type="radio" name="p1" value="d">
                </div>
                <div class="alternativa">
                    <label for="radio">Liberdade</label>
                    <input type="radio" name="p1" value="e">
                </div>
                <div class="alternativa">
                    <label for="radio">Amizade</label>
                    <input type="radio" name="p1" value="f">
                </div>
            </div>


        </div>

        <div id="2" class="container">
            <h2>Agora, escolha uma cor:</h2>
            <div class="pergunta">
                <div class="alternativa azul">
                    <label for="radio">Azul</label>
                    <input type="radio" name="p2" value="a">
                </div>
                <div class="alternativa branco">
                    <label for="radio">Branco</label>
                    <input type="radio" name="p2" value="b">
                </div>
                <div class="alternativa preto">
                    <label for="radio">Preto</label>
                    <input type="radio" name="p2" value="c">
                </div>
                <div class="alternativa rosa">
                    <label for="radio">Rosa</label>
                    <input type="radio" name="p2" value="d">
                </div>
                <div class="alternativa vermelho">
                    <label for="radio">Vermelho</label>
                    <input type="radio" name="p2" value="e">
                </div>
                <div class="alternativa verde">
                    <label for="radio">Verde</label>
                    <input type="radio" name="p2" value="f">
                </div>
            </div>

        </div>

        <div id="3" class="container">
            <h2>O que você mais gosta no seu namorado:</h2>
            <div class="pergunta">
                <div class="alternativa">
                    <label for="radio">Sorriso</label>
                    <input type="radio" name="p3" value="a">
                </div>
                <div class="alternativa">
                    <label for="radio">Estilo</label>
                    <input type="radio" name="p3" value="b">
                </div>
                <div class="alternativa">
                    <label for="radio">Pegada</label>
                    <input type="radio" name="p3" value="c">
                </div>
                <div class="alternativa">
                    <label for="radio">Inteligência</label>
                    <input type="radio" name="p3" value="d">
                </div>
                <div class="alternativa">
                    <label for="radio">Bom Humor</label>
                    <input type="radio" name="p3" value="e">
                </div>
                <div class="alternativa">
                    <label for="radio">Afeto</label>
                    <input type="radio" name="p3" value="f">
                </div>
            </div>

        </div>

        <div id="4" class="container">
            <h2>Escolha uma Comida:</h2>
            <div class="pergunta">
                <div class="alternativa">
                    <label for="radio">Sushi</label>
                    <input type="radio" name="p4" value="a">
                </div>
                <div class="alternativa">
                    <label for="radio">Dogão</label>
                    <input type="radio" name="p4" value="b">
                </div>
                <div class="alternativa">
                    <label for="radio">Lasanha</label>
                    <input type="radio" name="p4" value="c">
                </div>
                <div class="alternativa">
                    <label for="radio">Bergamota</label>
                    <input type="radio" name="p4" value="d">
                </div>
                <div class="alternativa">
                    <label for="radio">Bolo</label>
                    <input type="radio" name="p4" value="e">
                </div>
                <div class="alternativa">
                    <label for="radio">Rabada</label>
                    <input type="radio" name="p4" value="f">
                </div>
            </div>

        </div>

        <div id="5" class="container">
            <h2>Por fim, a Pessoa que você mais gosta no mundo:</h2>
            <div class="pergunta">
                <div class="alternativa">
                    <label for="radio">Mãe</label>
                    <input type="radio" name="p5" value="a">
                </div>
                <div class="alternativa">
                    <label for="radio">Pai</label>
                    <input type="radio" name="p5" value="b">
                </div>
                <div class="alternativa">
                    <label for="radio">Bergamota</label>
                    <input type="radio" name="p5" value="c">
                </div>
                <div class="alternativa">
                    <label for="radio">Irmã</label>
                    <input type="radio" name="p5" value="d">
                </div>
                <div class="alternativa">
                    <label for="radio">Thithi</label>
                    <input type="radio" name="p5" value="e">
                </div>
                <div class="alternativa">
                    <label for="radio">Mimi</label>
                    <input type="radio" name="p5" value="f">
                </div>
            </div>

        </div>


        <div class="container">
            <button type="submit">Enviar Resposta</button>
        </div>
    </form>
</body>

</html>