<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/estilo.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Reposta</title>
</head>

<body>
    <div class="container-resp">
        <div class="h-resp">
            <h1>
                Você é:
                <%= respTitulo %>
            </h1>
        </div>
        <div class="img-resp">
            <img src=<%=respImg %> alt="Foto Mimi" />
        </div>

        <p class="p-resp">
            <%= respDesc %>
        </p>
        <div class="retorna">
            <a class="btn-resp" href="/">Refazer</a>
        </div>

        <footer>
            <p>&copy 2020 Feito com 💜 por Thiago Magano.</p>
        </footer>
    </div>



</body>

</html>