<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/estilo.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Reposta</title>
</head>

<body>
    <div class="container">
        <h1>
            Você é:
            <%= respTitulo %>
        </h1>
        <img src=<%=respImg %> alt="Foto Mimi" />

        <p>
            <%= respDesc %>
        </p>
    </div>

</body>

</html>