body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #eee;
    font-size: 3.5em;
}

h2 {
    color: #ffcd3c;
    font-size: 2.5em;
}

label {
    font-size: 1.8em;
}

.container {
    text-align: center;
    padding: 2% 20% 2%;
    background-color: #370037;
    color: #ffcd3c;
}

.pergunta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2em;
}

.alternativa {
    background-color: #a66fa6;
    padding: 2em 0 2em;
}

.azul {
    background-color: #4183a2;
    color: #eee;
}

.preto {
    background-color: #111;
    color: #eee;
}

.branco {
    background-color: #eee;
    color: #222;
}

.rosa {
    background-color: #ff9595;
    color: #eee;
}

.vermelho {
    background-color: #d92027;
    color: #eee;
}

.verde {
    background-color: #a8df65;
    color: #eee;
}